body { background-color: lightskyblue}

header {border: 10px solid darkblue;
background-color:lightskyblue;
margin-left: 35%;
margin-right: 35%;
}

header p {font-size: 2em;
text-align: center;
color: darkblue;
}

main ul {display: flex;
flex-wrap: wrap;
flex-direction: row;
flex-grow: 1
}

li {height: 2em;
display: inline;
width: 350px;
height: 80px;
border: 2px solid darkblue;
flex-grow: 1;
}

main p {text-align: center;
border: 1px solid blue;
background-color: darkblue;
color: lightskyblue}

.box {background-color: lightskyblue
}

ul { border: 10px solid darkblue;
padding: 0px;
}