body { background-color: lightskyblue}

header {border: 10px solid darkblue;
background-color:lightskyblue;
}

header p {font-size: 2em;
text-align: center;
color: darkblue;
}

main ul {display: flex;
flex-wrap: wrap;
flex-direction: row;
}

li {height: 2em;
display: inline;
width: 350px;
height: 80px;
border: 2px solid darkblue;
}

.red {background-color: red;
}

.orange {background-color: orange
}

.yellow {background-color: yellow
}

.green {background-color: green
}

.blue {background-color: blue
}

.indigo {background-color: indigo
}

.purple {background-color: purple
}

.violet {background-color: violet
}