body { background-color: ghostwhite}

header p {font-size: 2em;
text-align: center;
background-color: lightskyblue;
color: darkblue;
margin-left: 450px;
margin-right: 450px;
}

main ul {display: flex;
flex-direction: row;
list-style-type: none;
}

li {height: 2em;
display: inline-block;
width: 35%;
}

.red {background-color: red;
}

.orange {background-color: orange
}

.yellow {background-color: yellow
}

.green {background-color: green
}

.blue {background-color: blue
}

.indigo {background-color: indigo
}

.purple {background-color: purple
}

.violet {background-color: violet
}